* {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(204, 196, 196);
  padding: 15px;
  border: 2px solid black;
  border-radius: 10px;
}

main {
  text-align: center;
  font-size: 30px;
  list-style-position: inside;
  align-items: center;
}

ul {
  list-style-type: none;
  text-align: center;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article li {
  margin: 5px;
}

button {
  font-size: larger;
  border-radius: 10px;
  background-color: rgb(77, 108, 232);
  color: white;
  cursor: pointer;
}

input {
  height: 25px;
}

button:hover {
  background-color: rgb(128, 207, 207);
  transition-duration: 0.2s;
}
