* {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(204, 196, 196);
  padding: 15px;
  border: 2px solid black;
  border-radius: 10px;
}

main {
  text-align: center;
  font-size: 30px;
  list-style-position: inside;
}

ul {
  list-style-type: none;
  text-align: center;
}

#startButton {
  font-size: 30px;
}
